.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Sen", serif;
    padding: 20px 0;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__img {
    margin-right: 6px;
    width: 42px;
    height: 35px;
}

.logo {
    font-family: "Sen", serif;
    font-weight: 700;
    font-size: 20px;
}

.header__nav {
    display: flex;
    gap: 36px;
    font-weight: 400;
    font-size: 16px;
    color: #2E476B;
    margin-left: 72px;
}

.header__nav a {
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    color: #2E476B;
}

.header__nav a:hover {
    color: #F66F4D;
}

.where {
    transition: transform 0.3s ease-in-out;
}

.where:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.date {
    transition: transform 0.3s ease-in-out;
}

.date:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.loupe:hover{
    transform: scale(1.1);
}

.home {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
 
}

.home:hover {
    transition: 0.2s ease;
    
    color: #F66F4D;
   

}

.about__us {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.about__us:hover {
    transition: 0.2s ease;

    color: #F66F4D;
   
}

.destinations {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.destinations:hover {
    transition: 0.2s ease;
  
    color: #F66F4D;
    
}

.tour {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tour:hover {
    transition: 0.2s ease;
   
    color: #F66F4D;
   
}

.blog {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.blog:hover {
    transition: 0.2s ease;
   
    color: #F66F4D;
 
}

.book__now {
    color: #F66F4D;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 16px 30px;
    border: 2px solid #F66F4D;
    border-radius: 27px;
    transition: all 0.3s ease;
    margin-left: auto;
}

.book__now:hover {
    background-color: #F66F4D;
    color: white;
}

.book__now:hover img {
    filter: brightness(0) invert(1);
}

.header__btn img {
    
    transition: filter 0.3s ease;
    transform: scale(1.1);
}

.header__btn:hover img {
    transition: 0.2s ease;
  
    filter: invert(50%) sepia(100%) hue-rotate(180deg) saturate(300%);
    
}

.mobile__menu__btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
  
   
  
    
}

.mobile__menu__btn span {
    width: 30px;
    height: 3px;
    background-color: #2E476B;
    display: block;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.mobile__menu__btn span:last-child {
    margin-bottom: 0;
}

.mobile__menu__btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.mobile__menu__btn.active span:nth-child(2) {
    opacity: 0;
}

.mobile__menu__btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 1024px) {
    .header__nav {
        gap: 20px;
       
    }

   
}

@media (max-width: 768px) {
    .header__nav {
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 1000px;
        background: #FAF8ED;
        padding: 100px 20px 20px;
        text-align: center;
        transition: right 0.3s ease;
    }

    .header__nav.active {
        right: 0;
    }

    .header__nav a {
        display: block;
        font-size: 18px;
        color: #2E476B;
        line-height: 3;
    }

    .header__nav a .underline {
        display: none;
    }

    .mobile__menu__btn {
        display: block;
        z-index: 100;
    }

    .book__now {
        display: none;
    }
}



